{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="introduce-section">
        <div class="introduce-icon">
            <img src="{% static 'img/introduce-icon.png' %}" alt="">
        </div>
        <div class="introduce-description">
            <p class="introduce-sub-title">#도도냥 #4.5살 #여자</p>
            <p class="introduce-title">홍겨울</p>
            <p class="introduce-text">
                안녕하세요! 초절정 귀여미 겨울냥입니다.<br>
                2021년 1월 29일, 단국대 소프트웨어학과<br>
                <b class="underline">고양이 덕후 “구지원"</b>에게 입양됬어요!<br><br>

                처음에는 매우 도도한냥이였지만<br>
                지금은 애교쟁이랍니다 :)<br><br>
                <a href="https://www.instagram.com/princess_gyeoul/">→ 겨울이 인스타그램 방문하기</a>
            </p>
        </div>
        <div class="introduce-circle">
            <img src="{% static 'img/introduce-circle.png' %}" alt="">
        </div>
    </section>
{% endblock %}