{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="main-section">
        <div class="main-icon">
            <img src="{% static 'img/main-icon.png' %}" alt="">
        </div>

        <div class="menu-list">
            <ul>
                <li><a href="{% url 'message_list' %}">introduce <b>“겨울”</b></a></li>
                <li><a href="{% url 'message_list' %}">메세지 남기기</a></li>
                <li><a href="{% url 'message_list' %}">냥갤러리</a></li>
                <li><a href="{% url 'message_list' %}">간식 사주기</a></li>
            </ul>
        </div>
    </section>
{% endblock %}