{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="main-section">
        <div class="main-icon">
            <img src="{% static 'img/main-icon.png' %}" alt="">
        </div>

        <div class="menu-list">
            <ul>
                <li>introduce <b>“겨울”</b></li>
                <li>메세지 남기기</li>
                <li>냥갤러리</li>
                <li>간식 사주기</li>
            </ul>
        </div>

        <footer>
            copyright ©2023 단국대 소프트웨어학과 구지원
        </footer>
        {##}
        {#{% for message in messages %}#}
        {#    {{ message }}#}
        {#{% endfor %}#}
    </section>
{% endblock %}