@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UhBeenamsoyoung';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeenamsoyoung.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'GmarketSansLight';
}

a {
    text-decoration: none;
    color: black;
}

.float-right {
    text-align: right;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 1.5rem;
}

.underline {
    text-decoration: underline;
}

/* menu_list.html */

.main-section {
    width: 100%;
    text-align: center;
    padding: 80px 30px 30px 30px;
    background-color: #F5FF00;
}

.main-icon {
    display: inline-block;
    width: 500px;
}

.main-icon img {
    width: 500px;
}

ul {
    list-style: none;
}

ul li {
    font-size: 2.3rem;
    margin-bottom: 30px;
    text-align: center;
}

ul li:hover {
    text-decoration: underline;
}

.menu-list {
    display: inline-block;
    width: 500px;
    position: relative;
    bottom: 75px;
}

/* message_list.html */

.message-section {
    width: 100%;
    text-align: center;
    padding: 0;
    background-color: #F5F5F5;
}

.message-title {
    font-family: 'GmarketSansMedium';
    font-size: 2rem;
}

.mobile-view {
    width: 412px;
    height: 700px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    padding: 20px 50px;
}

.message {
    font-family: 'UhBeenamsoyoung';
    display: inline-block;
    padding: 10px;
    background-color: #00E0FF;
    border-radius: 40px;
    margin: 10px;
}

.message-input {
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid black;
    margin-top: 40px;
}

.message-input:focus {
    outline: none;
    border: 3px solid #00E0FF;
}

/* introduce.html */
.introduce-section a {
    color: #05aac1;
    text-decoration: underline;
}

.introduce-icon {
    display: inline-block;
}

.introduce-icon img {
    width: 600px;
}

.introduce-description {
    display: inline-block;
    position: absolute;
    top: 100px;
    margin-left: 100px;
}

.introduce-description p {
    margin: 0 0 10px 0;
}

.introduce-sub-title {
    font-size: 1.8rem;
}

.introduce-text {
    font-size: 1.6rem;
    line-height: 2.1rem;
}

.introduce-title {
    font-family: 'GmarketSansMedium';
    font-size: 2.3rem;
    font-weight: bolder;
    margin-bottom: 35px !important;
}

.introduce-circle img {
    position: absolute;
    width: 500px;
    right: -200px;
    bottom: -200px;
}

/* gallery.html */
.gallery-section {
    width: 100%;
    text-align: center;
    padding: 80px 30px 30px 30px;
    background-color: #F5FF00;
}

.gallery-img1 {
    width: 300px !important;
    height: 400px;
    object-fit: cover;
    border: 5px solid #00E0FF;
}

.gallery-img2 {
    height: 500px !important;
}

/* snack_list.html */
.snack-section {
    width: 100%;
    text-align: center;
    padding: 0 30px 30px 30px;
}

.snack-box {
    display: inline-block;
}

.snack-box {
    margin: 0 0 10px 0;
}

.snack-title {
    font-family: 'GmarketSansMedium';
    font-size: 2.3rem;
    font-weight: bolder;
    margin-bottom: 35px !important;
}

.snack-sub-title {
    font-size: 1.8rem;
}

footer {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
